*.md
docs
.github
.git
LICENSE

# Never uploaded to GCP
components/squarespace-code-snippet

# the following line adds everything in .gitignore to this file (even though the line is a comment)
#!include:.gitignore
# See https://cloud.google.com/sdk/gcloud/reference/topic/gcloudignore for more documentation about the include pattern