<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Membership Sign Up Form</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Raleway"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <form id="membership_form" method="post">
      <div id="infoTab">
        <div class="field">
          <label for="first_name">First Name *</label>
          <label class="caption">
            <input
              id="first_name"
              name="first_name"
              type="text"
              class="field-element"
              required
            />
          </label>
        </div>
        <div class="field">
          <label for="last_name">Last Name *</label>
          <label class="caption">
            <input
              id="last_name"
              name="last_name"
              type="text"
              class="field-element"
              required
            />
          </label>
        </div>
        <div class="field">
          <label for="school">School</label>
          <label class="caption">
            <input
              id="school"
              name="school"
              class="field-element"
              type="text"
            />
          </label>
        </div>
        <div class="field">
          <label for="program">
            Program & College (if you are a UofT student)
          </label>
          <label class="caption">
            <input
              id="program"
              type="text"
              class="field-element"
              name="program_and_college"
            />
          </label>
        </div>
        <div class="field">
          <label for="email">
            Email * (we will notify you of events and trips using this email)
          </label>
          <label class="caption">
            <input
              id="email"
              type="email"
              class="field-element"
              name="email"
              required
            />
          </label>
        </div>

        <button
          type="button"
          class="sqs-editable-button"
          onclick="toPaymentTab()"
        >
          Next
        </button>
      </div>

      <div id="paymentTab" style="display: none">
        <input type="hidden" id="orderID" name="orderID" />

        <h2>Choose your membership type</h2>

        <div class="field select">
          <select name="membership_type" id="membership_type">
            <option value="student">
              Student Membership $20.00 CAD - 1 year
            </option>
            <option value="regular">
              Regular Membership $30.00 CAD - 1 year
            </option>
            <option value="family">
              Family Membership $40.00 CAD - 1 year
            </option>
            <option value="summer">
              Summer Membership $10.00 CAD - 4 months
            </option>
          </select>
        </div>

        <h2>Payment</h2>

        <div id="paypal-button-container"></div>
      </div>
    </form>

    <script src="script.js"></script>
  </body>
</html>
